[user]
	name = Felipe Siqueira Pinheiro

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com

# Not sure about what it does
[core]
	filemode = false

[alias]
	aliases = config --get-regexp alias
	b = branch
	c = checkout
	dc = diff --cached
	d = diff
	follow = log --stat --follow -p --
	lg = log --pretty=\"%C(Yellow)%h  %C(reset)%ad (%C(Green)%cr%C(reset)) %C(Cyan)%an: %C(reset)%s\" --date=short
	s = status

[color]
	ui = true

[color "branch"]
	current = green
	local = blue
	remote = yellow

[color "status"]
	added = green
	changed = blue
	untracked = red

# Context specific configurations
# My configs
[includeIf "gitdir:~/"]
	path = .gitconfig.me

# Work configs
[includeIf "gitdir:~/fun/fleury/"]
	path = .gitconfig.fleury

[commit]
	gpgSign = true

[tag]
	gpgSign = true
